html{
    scroll-behavior: smooth;
}
body{
    background-color: #262626;
}
::-webkit-scrollbar {
    display: none;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 100;
}
.limit-width{
    max-width: max-content;
}
.gradient-text{
    background: #D9ED92;
    background: linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    background: -webkit-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    background: -moz-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-border{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    border-image-source: -webkit-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    border-image-source: -moz-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
}
.gradient{
    background-image: linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    background-image: -webkit-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    background-image: -moz-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
}
.line{
    z-index: 2;
    height: 2px;
    background-image: linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    background-image: -webkit-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
    background-image: -moz-linear-gradient(to right, #D9ED92 0%, #B5E48C 100%);
}
.big-text{
    font-size: 50px;
    margin: 0;
}
.title-text{
    display: flex;
    justify-content: center;
}
.img-fix{
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-appearance: none;
}
.cursor-pointer{
    cursor: pointer;
}
.aspect16-9{
    aspect-ratio: 16/9;
}
#old-site{
    height: 40px;
    width: 150px;
    display: inline-flex;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    outline: none;
    align-items: center; 
    justify-content: center;
    transition-duration: 0.3s;
}
#old-site:hover{
    transform: translateY(-10px);
}
#audio-controls{
    display: grid;
    grid-template-columns: 50px 30px 50px;
    width: max-content;
    height: 40px;
    margin: auto;
    align-items: center;
}
#audio-play{
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/play.svg);
    grid-column: 2;
    grid-row: 1;
}
#audio-play:hover{
    background-image: url(../assets/svg/hover/play.svg)
}
#audio-pause{
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/pause.svg);
    display: none;
    grid-column: 2;
    grid-row: 1;
}
#audio-pause:hover{
    background-image: url(../assets/svg/hover/pause.svg);
    display: none;
}
#audio-back{
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/back.svg);
    justify-self: left;
    grid-column: 1;
    grid-row: 1;
}
#audio-back:hover{
    background-image: url(../assets/svg/hover/back.svg)
}
#audio-forward{
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/forward.svg);
    transform: rotate(180deg);
    justify-self: right;
    grid-column: 3;
    grid-row: 1;
}
#audio-forward:hover{
    background-image: url(../assets/svg/hover/forward.svg)
}
#profile{
    display: grid;
    grid-column: 1;
    grid-row: 1;
}
#banner{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    aspect-ratio: 8/3;
    background: url('../assets/images/banner.png');
    background-size: 100% 100%;  
    background-repeat: no-repeat;
    grid-column: 1;
    grid-row: 1;
}
#avatar{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 200px 100px;
    grid-column: 1;
    grid-row: 1;
}
#img1{
    grid-column: 1;
    grid-row: 1;
    width: 200px;
    height: 200px;
    justify-self: center;
}
#img2{
    grid-column: 1;
    grid-row: 1;
    width: 250px;
    height: 250px;
    justify-self: center;   
}
#frogdude1123{
    width: 230px;
    text-align: center;
    margin: auto;
    max-width: max-content;
    grid-column: 1;
    grid-row: 2;
    background-color: #262626;
}
#info{
    height: max-content;
    width: 80%;
    margin: auto;
}
#info-text{
    padding: 10px;
}