#audio-controls {
  display: grid;
  grid-template-columns: 50px 30px 50px;
  width: max-content;
  height: 40px;
  margin: auto;
  align-items: center;
}
#audio-play {
  width: 30px;
  height: 30px;
  grid-column: 2;
  grid-row: 1;
  background-image: url(../../assets/svg/play.svg);
}
#audio-play:hover {
}
#audio-pause {
  width: 30px;
  height: 30px;
  display: none;
  grid-column: 2;
  grid-row: 1;
  background-image: url(../../assets/svg/pause.svg);
}
#audio-pause:hover {
  display: none;
}
#audio-back {
  width: 30px;
  height: 30px;
  justify-self: left;
  grid-column: 1;
  grid-row: 1;
  background-image: url(../../assets/svg/back.svg);
}
#audio-back:hover {
}
#audio-forward {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
  justify-self: right;
  grid-column: 3;
  grid-row: 1;
  background-image: url(../../assets/svg/forward.svg);
}
#audio-forward:hover {
}
