body{
    background-attachment: fixed;
    background-image: url('assets/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #262626;
}
p, h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: Arial;
}
/* avatar */
.avatar{
    position: relative;
    width: 250px;
    height: 250px;
}
.img1{
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    top: 25px;
}
.img2{
    position: relative;
    z-index: 2;
    width: 250px;
    height: 250px;
    bottom: 205px;
}
/* box */
.box1, .box2{
    position: relative;
    display: grid;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
}
.box{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
/* audio */
#audio-controls{
    position: relative;
    display: grid;
    width: min(310px, 50%);
    height: min(60px, 50%);
}
#audio-box{
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.audio-button{
    position: absolute;
    width: min(30px, 50%);
    height: min(30px, 50%);
    transform: translate(-50%);
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    top: 25%;
    left: 50%;
}
#play-button{
    background: url('assets/audio/play.png');
    background-size: 100% 100%;
    display: block;
    -webkit-appearance: none;
    border-radius: 0;
}
#play-button:hover{
    background: url('assets/audio/play hover.png');
    background-size: 100% 100%;
    display: block;
    -webkit-appearance: none;
    border-radius: 0;
}
#pause-button{
    background: url('assets/audio/pause.png');
    background-size: 100% 100%;
    display: none;
    -webkit-appearance: none;
    border-radius: 0;
}
#pause-button:hover{
    background: url('assets/audio/pause hover.png');
    background-size: 100% 100%;
    display: none;
    -webkit-appearance: none;
    border-radius: 0;
}
#forward-button{
    position: absolute;
    width: min(30px, 50%);
    height: min(30px, 50%);
    background: url('assets/audio/forward.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    left: 75%;
    transform: translate(-50%, 50%);
    -webkit-appearance: none;
    border-radius: 0;
}
#forward-button:hover{
    background: url('assets/audio/forward hover.png');
    background-size: 100% 100%;
    -webkit-appearance: none;
    border-radius: 0;
}
#back-button{
    position: absolute;
    width: min(30px, 50%);
    height: min(30px, 50%);
    background: url('assets/audio/back.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    left: 25%;
    transform: translate(-50%, 50%);
    -webkit-appearance: none;
    border-radius: 0;
}
#back-button:hover{
    background: url('assets/audio/back hover.png');
    background-size: 100% 100%;
    -webkit-appearance: none;
    border-radius: 0;
}
/* socials */
.title{
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 10%;
    font-size: 250%;
}
.social-category{
    position: relative;
    z-index: 3;
    justify-content: center;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-gap: 0.5em;
    width: 85%;
    height: 85%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-tab{
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-tab1{
    grid-column: 1;
    grid-row: 1;
}
.social-tab2{
    grid-column: 1;
    grid-row: 2;
}
.social-tab3{
    grid-column: 1;
    grid-row: 3;
}
.social-tab4{
    grid-column: 1;
    grid-row: 4;
}
.social-tab5{
    grid-column: 2;
    grid-row: 1;
}
.social-tab6{
    grid-column: 2;
    grid-row: 2;
}
.social-tab7{
    grid-column: 2;
    grid-row: 3;
}
.social-tab8{
    grid-column: 2;
    grid-row: 4;
}
/* social-tabs */
.social1, .social2, .social5, .social6{
    position: relative;
    display: flex;
    align-items: center;
}
.social-icon{
    position: absolute;
    width: 20%;
    left: 5%;
}
.social-text{
    position: absolute;
    left: 30%;
    top: 5%;
    font-size: 40px;
}
.social-subtext{
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 20px; 
}
.social-button{
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 80px;
    left: 80%;
    top: 17.5%;
    background-image:url('assets/social/social button.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.social-button:hover{
    background-image:url('assets/social/social button hover.png');
}
/* info */
.info-text-box{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 50vh;
}
.info-text{
    position: absolute;
    z-index: 2;
    max-width: 100%;
    padding: 5px 10px 0 10px;
}
@media screen and (max-width: 2048px){
    .social-text{
        font-size: 40px;
    }
    .social-subtext{
        font-size: 20px;
    }
    .info-text-box{
        bottom: 75vh;
    }
    .info-text{
        font-size: 20px;
    }
} 
@media screen and (max-width: 1536px){
    .title{
        font-size: 100%;
    }
    .social-text{
        font-size: 30px;
    }
    .social-subtext{
        font-size: 15px;
    }
    .social-button{
        width: 40px;
        height: 40px;
    }
    .info-text-box{
        bottom: 60vh;
    }
}
@media screen and (max-width: 1280px){
    .title{
        font-size: 80%;
    }
    .social-text{
        font-size: 18px;
    }
    .social-subtext{
        font-size: 9px;
    }
    .social-button{
        width: 30px;
        height: 30px;
    }
    .info-text-box{
        bottom: 40vh;
    }
}
@media screen and (max-width: 768px){
    .title{
        font-size: 60%;
    }
    .social-text{
        font-size: 11px;
    }
    .social-subtext{
        font-size: 5.5px;
    }
    .social-button{
        width: 20px;
        height: 20px;
    }
    .info-text-box{
        bottom: 22vh;
    }
    .info-text{
        font-size: 11px;
    }
}
