#socials {
  height: 450px;
  width: 80%;
  margin: auto;
}
#socials-grid {
  position: relative;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 80px 80px 80px 80px;
  grid-gap: 2%;
  width: 90%;
  height: 90%;
  margin: auto;
}
.social-tab-background {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 100% 0px;
  height: 100%;
  width: 100%;
  background-color: #303030;
  border: none;
  overflow: hidden;
  outline: none;
}
.social-tab-background:hover {
  background-color: #2b2b2b;
}
.social-tab {
  height: 80px;
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  overflow: hidden;
  outline: none;
}
.social-icon {
  z-index: 3;
  width: 80%;
  height: 80%;
  display: flex;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
}
.social-text {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
  z-index: 3;
  grid-column: 2;
  grid-row: 1;
}
.social-top-text {
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
}
.social-bottom-text {
  font-weight: 200;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
}
#social1 {
  grid-column: 1;
  grid-row: 1;
}
#social2 {
  grid-column: 2;
  grid-row: 1;
}
#social3 {
  grid-column: 1;
  grid-row: 2;
}
#social4 {
  grid-column: 2;
  grid-row: 2;
}
#social5 {
  grid-column: 1;
  grid-row: 3;
}
#social6 {
  grid-column: 2;
  grid-row: 3;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20.8px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12.8px;
  }
  h5 {
    font-size: 11.2px;
  }
  h6 {
    font-size: 10.6px;
  }
  #avatar {
    grid-template-rows: 100px 70px;
  }
  #img1 {
    width: 80px;
    height: 80px;
  }
  #img2 {
    width: 100px;
    height: 100px;
  }
  #socials {
    height: 730px;
  }
  #socials-grid {
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    display: grid;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  #social2 {
    grid-column: 1;
    grid-row: 2;
  }
  #social3 {
    grid-column: 1;
    grid-row: 3;
  }
  #social4 {
    grid-column: 1;
    grid-row: 4;
  }
  #social5 {
    grid-column: 1;
    grid-row: 5;
  }
  #social6 {
    grid-column: 1;
    grid-row: 6;
  }
}
@media screen and (max-width: 460px) {
  h1 {
    font-size: 20.8px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12.8px;
  }
  h4 {
    font-size: 11.2px;
  }
  h5 {
    font-size: 10.6px;
  }
  h6 {
    font-size: 9.8px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 12.8px;
  }
  h3 {
    font-size: 11.2px;
  }
  h4 {
    font-size: 10.6px;
  }
  h5 {
    font-size: 9.8px;
  }
  h6 {
    font-size: 8.4px;
  }
}
